.cell {
  width: 35px;
  height: 35px;
  display: inline-block;
}

.square {
  width: 34px;
  height: 34px;
  background: #fff;
  border: 1px solid #999;
  border-radius: 12px;
  padding: 0;
}

.square.isOn {
  background: rgb(75, 72, 72);
}

.square:hover {
  background: rgb(214, 206, 206);
  border: 1px solid rgb(29, 28, 28);
}
